[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
salsabeat = {file = ".", editable = true}

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.13"
